{% extends "layout.html" %}

{% block body %}
<div class="form-narrow w-100 m-auto">
    <h1>Edit Blood Pressure Record</h1>
    <form action="{{ url_for('blood_pressure.edit_record', record_id=record.id) }}" method="post">

        <label class="form-label" for="date_time">Date & Time:</label>
        <input class="form-control" type="datetime-local" id="date_time" name="date_time" value="{{ record.date_time }}"
            required>

        <br>

        <label class="form-label" for="systolic">Systolic:</label>
        <input class="form-control" type="number" id="systolic" name="systolic" value="{{ record.systolic }}"
            placeholder="Enter systolic pressure" required>

        <br>

        <label class="form-label" for="diastolic">Diastolic:</label>
        <input class="form-control" type="number" id="diastolic" name="diastolic" value="{{ record.diastolic }}"
            placeholder="Enter diastolic pressure" required>

        <br>

        <label class="form-label" for="pulse">Pulse:</label>
        <input class="form-control" type="number" id="pulse" name="pulse" value="{{ record.pulse }}"
            placeholder="Enter pulse" required>

        <br>

        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Save Changes</button>
            <a class="btn btn-secondary" href="{{ url_for('blood_pressure.list_records') }}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
